@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 4, ../scss/main.scss */
body {
  background: url(../img/small_steps.png);
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

/* line 12, ../scss/main.scss */
.right-image {
  float: right;
  width: 25%;
  height: auto;
}

/* line 18, ../scss/main.scss */
.left-image {
  float: left;
  width: 25%;
  height: auto;
}

/* line 24, ../scss/main.scss */
img {
  border: 1px solid white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  margin: 20px;
  width: 45%;
}

/* line 32, ../scss/main.scss */
.table {
  margin-top: 15px;
}
/* line 35, ../scss/main.scss */
.table tbody > tr td:first-child {
  width: 20%;
  font-weight: 700;
}

/* line 43, ../scss/main.scss */
div h2 {
  margin-top: 0px;
}

/* line 47, ../scss/main.scss */
h3 span {
  color: #286090;
}

/* line 51, ../scss/main.scss */
.jumbotron {
  border-radius: 0px;
  background: #F0F9FF;
  height: 40%;
  margin-bottom: 100px;
  padding: 0;
}
/* line 57, ../scss/main.scss */
.jumbotron h1, .jumbotron h2 {
  color: #456671;
  font-weight: 700;
}

/* line 67, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 72, ../scss/main.scss */
.bg-img {
  width: 100%;
  height: 60%;
  background: url("http://dailybruin.com/images/2014/04/ay1.jpg") center center no-repeat;
  background-size: cover;
}
/* line 78, ../scss/main.scss */
.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  background-image: linear-gradient(to bottom right, #CCDEE8, #426A6F);
  opacity: .4;
}

/* line 90, ../scss/main.scss */
.transition {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 0px;
}

/* line 97, ../scss/main.scss */
section {
  padding: 40px;
  background-color: white;
  margin-top: 25px;
  border-bottom: 1px solid #c1e1ec;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

/* line 105, ../scss/main.scss */
section:last-child {
  border-bottom: none;
}

/* line 109, ../scss/main.scss */
.nav {
  z-index: 10;
  background-color: #F0F9FF;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
/* line 117, ../scss/main.scss */
.nav a {
  color: black;
}
/* line 121, ../scss/main.scss */
.nav li {
  width: 48%;
  display: inline-block;
}
/* line 124, ../scss/main.scss */
.nav li:first-child {
  width: 100%;
}
/* line 132, ../scss/main.scss */
.nav li a:hover, .nav li a:focus {
  color: white;
  background: #72bcd4;
}
/* line 139, ../scss/main.scss */
.nav .active {
  font-weight: bold;
  background: #72bcd4;
}
/* line 143, ../scss/main.scss */
.nav .active .nav {
  display: block;
}
/* line 146, ../scss/main.scss */
.nav .active a {
  color: white;
}

/* line 154, ../scss/main.scss */
.affix-top {
  position: relative;
}

/* line 158, ../scss/main.scss */
.affix {
  top: 20px;
  width: 176px;
}

/* line 168, ../scss/main.scss */
footer {
  height: 50px;
}
/* line 170, ../scss/main.scss */
footer p {
  line-height: 50px;
  margin-bottom: 0;
}
