@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 3, ../scss/main.scss */
body {
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

/* line 10, ../scss/main.scss */
h1, h2 {
  font-weight: 700;
}

/* line 14, ../scss/main.scss */
h3 span {
  color: #286090;
}

/* line 18, ../scss/main.scss */
.jumbotron {
  border-radius: 0px;
  margin-bottom: 100px;
  padding: 0;
}

/* line 27, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 32, ../scss/main.scss */
.bg-img {
  width: 100%;
  height: 60%;
  background: url("http://www.pediatricaidscoalition.org/images/dsc_0575-crop-u2448.jpg") center center no-repeat;
  background-size: cover;
}
/* line 39, ../scss/main.scss */
.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: .6;
}

/* line 51, ../scss/main.scss */
section {
  padding: 40px;
  border-bottom: 1px solid #c1e1ec;
}

/* line 56, ../scss/main.scss */
section:last-child {
  border-bottom: none;
}

/* line 60, ../scss/main.scss */
.nav {
  max-width: 165px;
}
/* line 63, ../scss/main.scss */
.nav a {
  color: black;
  font-style: italic;
}
/* line 72, ../scss/main.scss */
.nav .active {
  font-weight: bold;
}
/* line 76, ../scss/main.scss */
.nav .nav {
  display: none;
}
/* line 79, ../scss/main.scss */
.nav .active .nav {
  display: block;
}
/* line 83, ../scss/main.scss */
.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}
/* line 87, ../scss/main.scss */
.nav .nav span {
  margin: 0 5px 0 2px;
}
/* line 91, ../scss/main.scss */
.nav .nav .active a, .nav .nav .active:hover a, .nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}
/* line 96, ../scss/main.scss */
.nav .nav .active span, .nav .nav .active:hover span, .nav .nav .active:focus span {
  display: none;
}

/* line 103, ../scss/main.scss */
.application {
  border-top: 1px solid #c1e1ec;
}

/* line 107, ../scss/main.scss */
.affix-top {
  position: relative;
}

/* line 111, ../scss/main.scss */
.affix {
  top: 20px;
  width: 213px;
}

/* line 116, ../scss/main.scss */
.affix-bottom {
  width: 213px;
  position: absolute;
}

/* line 121, ../scss/main.scss */
footer {
  border-top: 1px solid #c1e1ec;
  height: 50px;
}
/* line 124, ../scss/main.scss */
footer p {
  line-height: 50px;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  /* line 131, ../scss/main.scss */
  .affix, .affix-bottom {
    width: 263px;
  }
}
