@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 4, ../scss/main.scss */
body {
  background: url(../img/stardust.png);
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

/* line 11, ../scss/main.scss */
.right-image {
  float: right;
  width: 25%;
  height: auto;
}

/* line 17, ../scss/main.scss */
.left-image {
  float: left;
  width: 25%;
  height: auto;
}

/* line 23, ../scss/main.scss */
img {
  border: 1px solid white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 31, ../scss/main.scss */
.table {
  margin-top: 15px;
}
/* line 34, ../scss/main.scss */
.table tbody > tr td:first-child {
  width: 20%;
  font-weight: 700;
}

/* line 42, ../scss/main.scss */
div h2 {
  margin-top: 0px;
}

/* line 46, ../scss/main.scss */
h3 span {
  color: #286090;
}

/* line 50, ../scss/main.scss */
.jumbotron {
  border-radius: 0px;
  background: #1F2225;
  height: 40%;
  margin-bottom: 100px;
  padding: 0;
}
/* line 57, ../scss/main.scss */
.jumbotron h1, .jumbotron h2 {
  color: #456671;
  font-weight: 700;
}
/* line 62, ../scss/main.scss */
.jumbotron p {
  color: #dadada;
}

/* line 70, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 75, ../scss/main.scss */
.bg-img {
  width: 100%;
  height: 60%;
  background: url("http://dailybruin.com/images/2015/04/gPKBbUx.jpg") center center no-repeat;
  background-size: cover;
}
/* line 81, ../scss/main.scss */
.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
}

/* line 93, ../scss/main.scss */
.transition {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 0px;
}

/* line 100, ../scss/main.scss */
section {
  padding: 40px;
  background-color: white;
  margin-top: 25px;
  border-bottom: 1px solid #c1e1ec;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

/* line 108, ../scss/main.scss */
section:last-child {
  border-bottom: none;
}

/* line 112, ../scss/main.scss */
.nav {
  z-index: 10;
  background-color: #dadada;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
/* line 120, ../scss/main.scss */
.nav a {
  color: black;
}
/* line 124, ../scss/main.scss */
.nav li {
  width: 48.5%;
  display: inline-block;
}
/* line 127, ../scss/main.scss */
.nav li:first-child {
  width: 100%;
}
/* line 135, ../scss/main.scss */
.nav li a:hover, .nav li a:focus {
  color: white;
  background: #B2B2B2;
}
/* line 142, ../scss/main.scss */
.nav .active {
  font-weight: bold;
  background: #B2B2B2;
}
/* line 146, ../scss/main.scss */
.nav .active .nav {
  display: block;
}
/* line 149, ../scss/main.scss */
.nav .active a {
  color: white;
}

/* line 157, ../scss/main.scss */
.affix-top {
  position: relative;
}

/* line 161, ../scss/main.scss */
.affix {
  top: 20px;
  width: 176px;
}

/* line 171, ../scss/main.scss */
footer {
  height: 50px;
}
/* line 173, ../scss/main.scss */
footer p {
  line-height: 50px;
  margin-bottom: 0;
}

/* line 185, ../scss/main.scss */
.thumbnail.with-caption {
  display: inline-block;
  background: #f5f5f5;
}

/* line 189, ../scss/main.scss */
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}

/* line 193, ../scss/main.scss */
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}

/* line 196, ../scss/main.scss */
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

@media only screen and (min-width: 400px) and (max-width: 797px) {
  /* line 204, ../scss/main.scss */
  .jumbotron p {
    font-size: 14px;
  }

  /* line 207, ../scss/main.scss */
  #nav {
    display: none;
  }
}
