@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import "mixins";

body {
  background: url(../img/stardust.png);
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

.right-image {
  float:right; 
  width: 25%;
  height: auto;
}

.left-image {
  float:left; 
  width: 25%;
  height: auto;
}

img {
  border: 1px solid white;
  @include vendorize(box-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.45));
  width: 100%;
  display: block;
  margin: 0 auto;
}

.table {
  margin-top: 15px;
  tbody > tr td {
    &:first-child {
      width: 20%;
      font-weight: 700;
    }
  }
}


div h2 {
  margin-top: 0px;
}

h3 span {
  color: #286090;
}

.jumbotron {
  border-radius: 0px;
  // background: #F0F9FF;
  background: #1F2225;
  height: 40%;
  margin-bottom: 100px;
  padding: 0;
  h1, h2 {
    color: #456671;
    font-weight: 700;
    // text-shadow: 2px 2px #DCDCDC;
  }
  p {
    color: rgb(218, 218, 218); 
  }

}



html, body {
  width: 100%;
  height: 100%;
}

.bg-img {
  width: 100%;
  height: 60%;
  background: url('http://dailybruin.com/images/2015/04/gPKBbUx.jpg') center center no-repeat;
  background-size: cover;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40%;
    left: 0;
    // background-image: linear-gradient(to bottom right,#CCDEE8,#426A6F);
    // opacity: .4; 
  }
}

.transition {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 0px;
}

section {
  padding: 40px;
  background-color: white;
  margin-top: 25px;
  border-bottom: 1px solid #c1e1ec;
  @include vendorize(box-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.20));
}

section:last-child {
  border-bottom: none;
}

.nav {
  z-index: 10;
  background-color: rgb(218, 218, 218);
  // background-color: #F0F9FF;
  text-align: center;

  // max-width: 165px;
  // background: #4baac8;
  a {
    color: black;
    // font-style: italic;
  }
  li {
    width: 48.5%;
    display: inline-block;
    &:first-child {
      width: 100%;
    }

  }


  li a {
    &:hover, &:focus {
      // font-style: bold;
      color: white;
      background: #B2B2B2;
    }

  }
  .active {
    font-weight: bold;
    // background: #72bcd4;
    background: #B2B2B2;
    .nav {
      display: block;
    }
    a {
      color: white;
    }
  }

  @include vendorize(box-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.15));
}

.affix-top {
  position: relative;
}

.affix {
  top: 20px;
  width: 176px;
}

// .affix-bottom {
//   width: 213px;
//   position: absolute;
// }

footer {
  height: 50px;
  p {
    line-height: 50px;
    margin-bottom: 0;
  }
}

// @media (min-width: 1200px) {
//   .affix, .affix-bottom {
//     width: 263px;
//   }
// }

.thumbnail.with-caption {
  display: inline-block;
  background: #f5f5f5;
}
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

@media only screen and (min-width: 400px) and (max-width: 797px) {
  .jumbotron p {
    font-size: 14px;
  }
  #nav {
    display:none;
  }
}
